
<!DOCTYPE html>
<html lang="en">
<head>
<title>Add Teams</title>
</head>
<body>
  <div class="signup-box">
    <h1>Create Team</h1>
    <h4>fill the details for the team</h4>
    <div id="error">

    </div>
    <form>
      <label>Team Name</label>
      <input id="teamname" type="text" placeholder="" required/>
      <label>Funds Goal</label>
      <input id="fundgoal" type="text" placeholder="" required/>
      <label>Cycle Date</label>
      <input id="cycle" type="date" placeholder="" required/>
      <input type="button" value="Submit" onclick="teamadd()"/>
    </form>
  </div>
</body>
</html>
